.card {
    background-color: #5ae56a8c;
    
    width:330px;

    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
    border: 3px solid #009011c0;
    border-radius: 35px;

    padding: 20px;
    padding-top: 15px;

    font-size: 24px;
}

.pressed {
    border: 3px solid rgb(160, 243, 36);
    background-color: #25ae58c0;
}

.unpressed {
    /*  */
}

.text {
    transform: skew(-13deg);
}

.num {
    font-weight: 240;
}
